html,body{
    margin: 0;
    height: 100%;
}

nav{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    display: flex;
    margin-left: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
}
.atlassan p{
    font-family:"Charlie Text",sans-serif;
    font-size: 20px;
    margin: 5px;
    text-transform: capitalize;
}
.burger{
    margin-right: 20px;
}
.menu{
    display: none;
}
.extra{
    display: none;
}
.degradado{
    width: 100%;
    height: 92vh;
    background-image: linear-gradient(45deg, #b224ef 0%, #7579ff 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    color: white;
}
.degradado .inifica{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 65%;

}
.inifica h1{
    width: 90%;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.inifica p {
    width: 90%;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    display: none;
}
.inifica .inp{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.inp .input{
    display: none;
}
.inifica button{
    background-color: rgb(0, 101, 255);
    border: 1px solid rgb(0, 101, 255);
    border-radius: 5px;
    width: 80%;
    height: 50px;
    color: white;
    text-transform: capitalize;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    margin: 10px 0;
}
.inifica a{
    color:#FFFFFFCC;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 16px;
}
.inifica #reporoducir{
    margin: 5px 0 0 10px;

}
.degradado .img{
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100%;
    height: 35%;  
}
.degradado .img img{
    width: 75%;
    height: 90%;
}


.abc{
    width: 100%;
    height: 110vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom,white,#e6fcff);

}
.abc .guia{
    margin-left: 20px;
}
.abc h2{
    font-size: 16px;
    width: 100%;

}
.abc h1{
    font-size: 24px;
    width: 100%;
}
.abc p{
    font-size: 20px;
    width: 90%;
}
.abc a{
    color: #0065ff;
}

.abc div img{
    width: 90%;
    height: 200px;
    border-radius: 9px;
}

.guia .cards{
    width: 90%;
    margin-top: 15px;
    background-color: white;
    font-size: 16px;
    border: solid 1px rgb(255, 255, 255);
    border-left: solid 5px #0065ff;
    border-radius: 9px;
}
.guia .cards p{
    margin-left: 10px;
    width: 85%;
}


#dos{
    display: none;
}

#tres{
    display: none;
}


.accion{
    width: 100%;
    height: 70vh;
    background-color: rgb(255, 255, 255);
}
.accion .div{
    margin-top: 50px;
    padding-left: 20px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.accion .div p{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.accion h1{
    width: 105%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bolder;
}
.accion .div .listas{
    width: 100%;
    height: 55%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: -50px;
    font-family: Arial, Helvetica, sans-serif;
}

.accion .div #cuadro{
    width: 100%;
    height: 90%;
    border-top: solid rgb(255, 143, 115)32px;
    border-bottom: solid #d4d4d4 1px;
    border-right: solid #d4d4d4 1px;
    border-left: solid #d4d4d4 1px;
    background-color: #ffffff;
    border-radius: 9px;
}
.gestion .sobre{
    border: solid 5px white;
    width: 15%;
    height: 15%;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -20px;
    left: 20px;
}
.gestion{
    width: 100%;
    height: 100%;
    position: relative;
}
.sobre img{
    width: 100%;
    height: 100%;
}
.listas .gestion h1{
    width: 100%;
    font-size: 20px;
    margin: 50px 0 0 15px;
}
.listas .gestion p{
    text-transform: capitalize;
    margin: 15px;
    width: 90%;
    word-spacing: 3px;
    line-height: 1.5;
}

.lluvia{
    display: none;
}
.reunion{
    display: none;
}

.tareas{
    display: none;
}











@media (min-width:768px){
    .inifica{
        height: 60%;
        padding-top: 50px;
    }
    .inifica h1{
        margin-top: 100px;
        width:70% ;
    }
    .inifica .inp{
        height: 30%;
    }
    .inifica .inp .input{
        display: block;
    }
    .inp .input{
        width: 35%;
        height: 70%;
        margin-right: 10px;
        border: solid 1px white;
        border-radius: 5px;
        color: rgb(197, 197, 197);
        font-size: 16px;
        text-transform: capitalize;
        font-family: Arial, Helvetica, sans-serif;
    }
    .inp button{
        width: 25%;
        margin-left: 10px;
    }
    .degradado .img{
        height: 70%;
    }
    .degradado .img img{
        width: 90%;
        height: 130%;
    }

    .abc{
        margin-top: 100px;
        width: 100%;
        height: 140vh;
    }

    .abc h2{
        font-size: 16px;
        width: 50%;
    
    }
    .abc h1{
        font-size: 36px;
        width: 50%;
    }
    .abc p{
        font-size: 20px;
        width: 50%;
    }
    .abc div img{
        width: 90%;
        height: 100%;
    }

    .cartas{
        padding-top: 30px;

    }
    .guia .cards{
        border-left: solid 10px #0065ff;
        width: 88%;
    }
    .guia .cards p{
        width: 95%;
    }



}

@media (min-width:1024px){
    nav{
        width: 100%;
    }
    .logo{
        width: 100%;
    }
    .burger{
        display: none;
    }
    
    .menu{
        display: block;
        display: flex;
        width: 60%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
    }
    li{
        list-style: none;
    }
    a{
        font-size: 18px;
        text-decoration: none;
        color: rgb(23, 43, 77);
        text-transform: capitalize;
    }
    li a i{
        margin: 5px;
    }

    .extra{
        display: block;
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        font-size: 20px;
    }
    .extra p{
        width: 70%;
    }
    .extra .inisiar{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .extra .obtener{
        background-color: rgb(0, 101, 255);
        color: white;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    .degradado{
        flex-direction: row;
        justify-content: flex-start;
        height: 80vh;
    }
    .degradado .inifica{
        align-items: flex-start;
        margin-left: 70px;
        width: 50%;
        height: 100%;
    }
    .inifica h1{
        text-align: start;
        font-size: 48px;
        width: 100%;
        margin: 0;
    }
    .inifica p{
        text-align: left;
    }
   
    .degradado .inp{
        display: none;
    }
    .btn{
        display: block;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 20%;
    }
    .btn .input{
        width: 70%;
        height: 30%;
        border-radius: 5px;
        border: solid 1px white;
        border-radius: 5px;
        color: rgb(197, 197, 197);
        font-size: 16px;
        text-transform: capitalize;
        font-family: Arial, Helvetica, sans-serif;
    }
    .btn button{
        width: 50%;
    }
    .degradado .img{
        width: 70%;
        height: 100%;
    }
    .degradado .img img{
        width: 80%;
        height: 80%;
    }

    .abc{
        height: 125vh;
        width: 100%;

    }

    .abc .board{
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: center;
        height: 70%;
    }
    .abc .guia{
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .abc .guia .hola{
        width: 90%;
        margin: 0;
    }
    .board .cartas{
        width: 30%;

    }


    .board .cards{
        width: 100%;
        height: 40%;
        background-color:transparent;
        border: none;
    }
    .board .cards p{
        font-size: 16px;
    }
    .board .cards:hover{
        border: solid 1px rgb(255, 255, 255);
        border-left: solid 10px #0065ff;
        border-radius: 9px;
    }

   




    .board>div{
        margin-left: 50px;
    }

    .board>div>img{
        margin-top: 60px;
        height: 70%;
    }
    .board div img{
        width: 90%;
        height: 100%;
    }
    #dos{
        display: block;
    }
    
    #tres{
        display: block;
    }
    


    
    
}

@media (min-width:1440px){
    nav{
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 6vh;
        display: flex;
        align-items: center;
    }
    .logo{
        width: 90%;
        margin-left: 100px;
        display: flex;
        justify-content: center;
    }
    .extra{
        width: 70%;
    }
    
    .menu{
        display: block;
        display: flex;
        width: 70%;
        height: 100%;
        margin-left: 20px;
        justify-content:flex-start;
        align-items: center;
    }
    .menu li a{
        margin-left: 10px;
    }
    .extra .inisiar{
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .extra .obtener{
        background-color: rgb(0, 101, 255);
        color: white;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }
    .degradado{
        width: 100%;
        height: 75vh;
        display: flex;
        justify-content: center;
    }
    .degradado .inifica{
        width: 30%;
        margin-top: 100px;
    }
    .degradado .img{
        width: 50%;
        height: 110%;

    }
    .btn{
        flex-direction: row;
    }
    .btn .input{
        width: 50%;
        height: 45%;
        margin-right: 15px;
    }
    .btn button{
        margin: 0;
        height: 45%;
    }


    .abc{
        height: 130vh;
        width: 100%;
    }
    .abc .guia{
        width: 100%;
        margin-right: 200px;
    }
    .abc .hola h1{
        width: 100%;
    }
    .abc .hola p{
        width: 33%;
        font-size: 24px;
    }
    .board>div{

        height: 100%;
    }
    .board div img{
        width: 100%;
        height: 70%;
    }

    .abc .board{
        width: 100%;
        height: 70%;
    }
    .board .cartas{
        height: 100%;
    }
    .board .cards{
        width: 65%;
        height: 27%;
    }
    .board .cards:hover{
        background-color: white;
        border: solid 1px rgb(255, 255, 255);
        border-left: solid 10px #0065ff;
        border-radius: 9px;
    }
}

